.wd-profileimg{
  left: -15px;
  top: 100px;
}

.wd-updateProfileImg{
    left: 80px;
    top: 140px;
}

.wd-updateBannerImg{
    top: 80px;
    left: 280px;

}

.wd-cancelBannerImg{
   top: 80px;
   left: 330px;

}

.wd-font-currentUser{
   font-size: 15px;
}

.wd-fonthandle{
   font-size: 14px;
}

.wd-fontBio{
   font-size: 13px;
}

.wd-fontLoc{
   font-size: 12px;
}

.wd-followCount{
   font-size: 12px;
}